.about {
  padding: 50px 0px;
}
.about h5 {
  padding: 10px 0px;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}
.about .picture img {
  width: 380px;
}
.about h2 {
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}
.about a {
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}
